.row{
    padding: 0;
    margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding:0;
}

.details{
    display: grid;
    align-items: center;
}


.details1>div{
    margin-right: 0.5vw;
}

.details1Company{
    font-size: 1.4rem;
    font-weight: 500;
    color:hsl(180, 29%, 50%);
}

.details1BtnNew{
    padding: 0.5vh 0.5vw;
    font-size: 0.7rem;
    background-color: hsl(180, 29%, 50%);
    border-radius: 10px;
    color: white;
    display: grid; 
    align-items: center;
}

.details1BtnFeat{
    border-radius: 10px;
    padding: 0.5vh 0.5vw;
    font-size: 0.7rem;
    background-color: hsl(180, 14%, 20%);
    color: white;
    display: grid;
    align-items: center;
}

.details2{
    font-size: 1.1rem;
    font-weight: 600;
}

.details2:hover{
    color: hsl(180, 29%, 50%);
}

.details3{
    color:  hsl(180, 8%, 52%);
}

.details3>div{
    padding-right: 0.5vw;
}

.description{
    display: grid;
    align-content: center;
    justify-content: end;
    padding-right: 4vw;
}

.description1>div{
    margin: 0.5vw;
    font-size: 1rem;
    font-weight: 500;
    background-color: hsl(180, 31%, 95%);
    color:hsl(180, 29%, 50%);
    padding: 0.5vh 1vw;
    border-radius: 10px;
    cursor: pointer;
}

.btn1{
    padding-right: 1vw;
}

#smallScreen {
    display: none;
}

@media only screen and (max-width: 767px) {

    #smallScreen {
      display: block !important;
    }

    #bigScreen {
      display: none !important;
    }

    .imgSmall{
        display: grid;
        align-content: center;
      
    }

    .imgSmall>img{
        width: 11vw;
    }

    .detailsSmall{
        display: grid;
        padding-left: 5vw;
    }

    .details1BtnNewSmall{
        padding: 0.5vh 0.5vw;
        font-size: 0.7rem;
        background-color: hsl(180, 29%, 50%);
        border-radius: 10px;
        color: white;
    }
    
    .details1BtnFeatSmall{
        border-radius: 10px;
        padding: 0.5vh 0.5vw;
        font-size: 0.7rem;
        background-color: hsl(180, 14%, 20%);
        color: white;
    }

    .details3>span{
        padding-right: 0.5vw;
    }

    .descriptionSmall{
        text-align: end;
    }

    .descriptionSmall>span{
        margin: 4vh 0.5vw 0;
        font-size: 1rem;
        font-weight: 500;
        background-color: hsl(180, 31%, 95%);
        color:hsl(180, 29%, 50%);
        padding: 0.5vh 1vw;
        border-radius: 10px;
        cursor: pointer;
    }

}



@media only screen and (max-width: 467px) {

    .imgSmall>img{
        width: 11vw;
    }

    .descriptionSmall>span{
        font-size: 0.7rem;
    }
    

    
}


@media only screen and (max-width: 385px) {

    .details1BtnFeatSmall{
        font-size: 0.5rem;
    }

    .details1BtnNewSmall{
        font-size: 0.5rem;
    }

    .details1CompanySmall{
        font-size: 0.7rem;
    }

    .details2{
        font-size: 0.8rem;
    }

    .details3>span{
        font-size: 0.6rem;
    }
    
}
